@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color:rebeccapurple;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    background-color: rebeccapurple;
}

img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
    color: antiquewhite;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
   margin: 4px;
   color: antiquewhite;
}

h3 {
    font-size: 2rem;
    margin: 0;
    color: antiquewhite;
}

h4 {
    margin: 0;
    color: antiquewhite;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a { */
    margin: 3px;
    text-decoration: none;
    /* color: #000; */

 }

a:link {
    color: antiquewhite;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  
a, p {
    font-family: monospace;
    font-size: larger;
    color: antiquewhite;
}
